body {
  text-align: center;
  background: url(images/hotdawg.jpg);
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

h1 {
  text-transform: uppercase;
	font-weight: bold;
	color: #2FFFF3;
}

hr {
  width: 600px;
}

#slogan {
	font-style: italic;
}

#fomo {
  font-size:10px;
}

p {
  font-size: 20px;
}

#email {font-size: 10px;
}