body {
  text-align: center;
  background: url("DSC_4647-Edit-1050x701.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

h1 {
	font-weight: bold;
	color: #2FFFF3;
}

hr {
  width: 200px;
}

#slogan {
	font-style: italic;
}

p {
  font-size: 20px;
}